@import 'tailwindcss';
@import '@radix-ui/themes/styles.css' layer(components);
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

/* ── Design System Spacing Override (radix-themes) ── */
/*일관성을 위해 Tailwind CSS와 동일한 간격 사용 (4배수)*/
.radix-themes {
  --space-1: calc(4px * var(--scaling));
  --space-2: calc(8px * var(--scaling));
  --space-3: calc(12px * var(--scaling));
  --space-4: calc(16px * var(--scaling));
  --space-5: calc(20px * var(--scaling));
  --space-6: calc(24px * var(--scaling));
  --space-7: calc(28px * var(--scaling));
  --space-8: calc(32px * var(--scaling));
  --space-9: calc(36px * var(--scaling));
  --space-10: calc(40px * var(--scaling));
  --space-11: calc(44px * var(--scaling));
  --space-12: calc(48px * var(--scaling));
}

/* ── Color Palette ── */
@theme inline {
  /* Primary Color Palette */
  --color-primary-0: #ffffff;
  --color-primary-5: #f0ecff;
  --color-primary-10: #d1c5ff;
  --color-primary-20: #bba9ff;
  --color-primary-30: #9c82ff;
  --color-primary-40: #8969ff;
  --color-primary-50: #6b44ff;
  --color-primary-60: #613ee8;
  --color-primary-70: #4c30b5;
  --color-primary-80: #3b258c;
  --color-primary-90: #2d1d6b;

  /* Red Color Palette */
  --color-red-0: #ffffff;
  --color-red-5: #fdefec;
  --color-red-10: #fcdfd9;
  --color-red-20: #f7afa1;
  --color-red-30: #f48771;
  --color-red-40: #f05f42;
  --color-red-50: #de3412;
  --color-red-60: #bd2c0f;
  --color-red-70: #8a240f;
  --color-red-80: #5c180a;
  --color-red-90: #390d05;
  --color-red-95: #260903;
  --color-red-100: #000000;

  /* Yellow Color Palette */
  --color-yellow-0: #ffffff;
  --color-yellow-5: #fff3db;
  --color-yellow-10: #ffe0a3;
  --color-yellow-20: #ffc95c;
  --color-yellow-30: #ffb114;
  --color-yellow-40: #c78500;
  --color-yellow-50: #9e6a00;
  --color-yellow-60: #8a5c00;
  --color-yellow-70: #614100;
  --color-yellow-80: #422c00;
  --color-yellow-90: #2e1f00;
  --color-yellow-95: #241800;
  --color-yellow-100: #000000;

  /* Green Color Palette */
  --color-green-0: #ffffff;
  --color-green-5: #eaf6ec;
  --color-green-10: #d8eedd;
  --color-green-20: #a9dab4;
  --color-green-30: #7ec88e;
  --color-green-40: #3fa654;
  --color-green-50: #228738;
  --color-green-60: #267337;
  --color-green-70: #285d33;
  --color-green-80: #1f4727;
  --color-green-90: #122b18;
  --color-green-95: #0e2012;
  --color-green-100: #000000;

  /* Gray Color Palette */
  --color-gray-0: #ffffff;
  --color-gray-5: #f4f5f6;
  --color-gray-10: #e6e8ea;
  --color-gray-20: #cdd1d5;
  --color-gray-30: #b1b8be;
  --color-gray-40: #8a949e;
  --color-gray-50: #6d7882;
  --color-gray-60: #58616a;
  --color-gray-70: #464c53;
  --color-gray-80: #33363d;
  --color-gray-90: #1e2124;
  --color-gray-95: #131416;
  --color-gray-100: #000000;

  /* Black Color Palette */
  --color-black-0: rgba(0, 0, 0, 0);
  --color-black-5: rgba(0, 0, 0, 0.05);
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-15: rgba(0, 0, 0, 0.15);
  --color-black-25: rgba(0, 0, 0, 0.25);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-black-75: rgba(0, 0, 0, 0.75);
  --color-black-100: rgba(0, 0, 0, 1);

  /* White Color Palette */
  --color-white-0: rgba(255, 255, 255, 0);
  --color-white-5: rgba(255, 255, 255, 0.05);
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-white-15: rgba(255, 255, 255, 0.15);
  --color-white-25: rgba(255, 255, 255, 0.25);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-white-100: rgba(255, 255, 255, 1);

  /* Shadow Color Palette */
  --color-shadow-1: rgba(0, 0, 0, 0.03);
  --color-shadow-2: rgba(0, 0, 0, 0.05);

  /* ── Button ── */
  --color-btn-primary-fill: var(--color-primary-50);
  --color-btn-primary-fill-hovered: var(--color-primary-70);
  --color-btn-primary-fill-pressed: var(--color-primary-90);

  --color-btn-secondary-fill: var(--color-gray-0);
  --color-btn-secondary-border: var(--color-primary-50);
  --color-btn-secondary-fill-hovered: var(--color-primary-5);
  --color-btn-secondary-border-hovered: var(--color-primary-60);
  --color-btn-secondary-fill-pressed: var(--color-primary-10);
  --color-btn-secondary-border-pressed: var(--color-primary-50);

  --color-btn-tertiary-fill: var(--color-gray-5);
  --color-btn-tertiary-border: var(--color-gray-20);
  --color-btn-tertiary-fill-hovered: var(--color-gray-10);
  --color-btn-tertiary-border-hovered: var(--color-gray-20);
  --color-btn-tertiary-fill-pressed: var(--color-gray-20);
  --color-btn-tertiary-border-pressed: var(--color-gray-30);

  --color-btn-outline-border: var(--color-gray-20);
  --color-btn-outline-border-hovered: var(--color-gray-30);
  --color-btn-outline-border-pressed: var(--color-gray-40);

  --color-btn-disabled-fill: var(--color-gray-20);

  --color-text-border: var(--color-gray-100);
  --color-text-basic: var(--color-gray-95);
  --color-text-subtle: var(--color-gray-70);
  --color-text-subtler: var(--color-gray-50);
  --color-text-disabled: var(--color-gray-30);
  --color-text-disabled-on: var(--color-gray-40);
  --color-text-bolder-inverse: var(--color-gray-0);
  --color-text-primary-basic: var(--color-primary-60);
  --color-text-primary-bolder: var(--color-primary-70);
  --color-text-error: var(--color-red-50);
  --color-text-danger: var(--color-red-50);
  --color-text-bolder: var(--color-gray-100);

  --color-icon-gray: var(--color-gray-90);
  --color-icon-gray-light: var(--color-gray-50);
  --color-icon-gray-lighter: var(--color-gray-30);
  --color-icon-disabled-on: var(--color-gray-40);
  --color-icon-inverse: var(--color-gray-0);
  --color-icon-primary-basic: var(--color-primary-50);
  --color-icon-primary-border: var(--color-primary-70);
  --color-icon-success: var(--color-green-50);
  --color-icon-warning: var(--color-yellow-30);
  --color-icon-error: var(--color-red-50);

  --color-bg-white: var(--color-gray-0);
  --color-bg-gray-subtler: var(--color-gray-5);
  --color-bg-gray-subtle: var(--color-gray-10);
  --color-bg-gray-inverse: var(--color-gray-100);

  --color-border-bolder: var(--color-gray-80);
  --color-border-basic: var(--color-gray-60);
  --color-border-subtle: var(--color-gray-20);
  --color-border-subtler: var(--color-gray-10);
  --color-border-error: var(--color-red-50);
  --color-border-primary: var(--color-primary-50);

  --color-element-white: var(--color-gray-0);
  --color-element-gray-lighter: var(--color-gray-5);
  --color-element-gray-light: var(--color-gray-10);
  --color-element-disabled: var(--color-gray-10);
  --color-element-primary: var(--color-primary-50);
  --color-element-primary-lighter: var(--color-primary-5);
  --color-element-primary-light: var(--color-primary-10);
  --color-element-danger: var(--color-red-50);
  --color-element-danger-lighter: var(--color-red-5);
  --color-element-danger-light: var(--color-red-10);
  --color-element-danger-dark: var(--color-red-20);
}

/* ── Typography System ── */
@theme inline {
  --text-display1: 56px;
  --text-display1--line-height: 1.3;
  --text-display1--letter-spacing: -0.03em;
  --text-display1--font-weight: 700;

  --text-display2: 40px;
  --text-display2--line-height: 1.3;
  --text-display2--letter-spacing: -0.025em;
  --text-display2--font-weight: 700;

  --text-display3: 36px;
  --text-display3--line-height: 1.3;
  --text-display3--letter-spacing: -0.025em;
  --text-display3--font-weight: 700;

  --text-title1: 32px;
  --text-title1--line-height: 1.35;
  --text-title1--letter-spacing: -0.02em;
  --text-title1--font-weight: 700;

  --text-title2: 28px;
  --text-title2--line-height: 1.35;
  --text-title2--letter-spacing: -0.02em;
  --text-title2--font-weight: 700;

  --text-title3: 24px;
  --text-title3--line-height: 1.35;
  --text-title3--letter-spacing: -0.02em;
  --text-title3--font-weight: 700;

  --text-heading1: 22px;
  --text-heading1--line-height: 1.4;
  --text-heading1--letter-spacing: -0.01em;
  --text-heading1--font-weight: 600;

  --text-heading2: 20px;
  --text-heading2--line-height: 1.4;
  --text-heading2--letter-spacing: -0.01em;
  --text-heading2--font-weight: 600;

  --text-headline1: 18px;
  --text-headline1--line-height: 1.4;
  --text-headline1--letter-spacing: -0.01em;
  --text-headline1--font-weight: 600;

  --text-headline2: 16px;
  --text-headline2--line-height: 1.4;
  --text-headline2--letter-spacing: -0.01em;
  --text-headline2--font-weight: 600;

  --text-body1: 16px;
  --text-body1--line-height: 1.5;
  --text-body1--font-weight: 400;

  --text-body2: 14px;
  --text-body2--line-height: 1.5;
  --text-body2--font-weight: 400;

  --text-label1: 14px;
  --text-label1--line-height: 1.5;
  --text-label1--font-weight: 600;

  --text-label2: 13px;
  --text-label2--line-height: 1.5;
  --text-label2--font-weight: 400;

  --text-caption1: 12px;
  --text-caption1--line-height: 1.5;
  --text-caption1--font-weight: 400;

  --text-caption2: 11px;
  --text-caption2--line-height: 1.5;
  --text-caption2--font-weight: 400;
}

/* ── Other Design System ── */
@theme inline {
  /* Easing */
  --ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);

  /* Border Radius */
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 10px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 20px;

  /* ── Box Shadow ── */
  --shadow-1: 0px 2px 8px var(--color-shadow-1);
  --shadow-2: 0px 4px 16px var(--color-shadow-2);
  --shadow-3: 0px 4px 12px var(--color-shadow-1), 0px 0px 32px var(--color-shadow-2);
}

/* ── Shadcn Design System ── */
@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

:root {
  --font-pretendard: 'Pretendard';
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --color-text-border: var(--color-gray-100);
  --color-text-basic: var(--color-gray-95);
  --color-text-subtle: var(--color-gray-70);
  --color-text-subtler: var(--color-gray-50);
  --color-text-disabled: var(--color-gray-30);
  --color-text-disabled-on: var(--color-gray-40);
  --color-text-bolder-inverse: var(--color-gray-0);
  --color-text-primary-basic: var(--color-primary-60);
  --color-text-primary-bolder: var(--color-primary-70);
  --color-text-error: var(--color-red-50);
  --color-text-danger: var(--color-red-50);
  --color-text-bolder: var(--color-gray-100);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.radix-themes {
  --default-font-family: var(--font-pretendard);
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
